/*#assainissement_file .custom-file-control:lang(fr)::after {
     content: "Select file..."; 
}
#assainissement_file .custom-file-control:lang(fr)::before { 
    content: "Click me";
}*/

.custom-file-label::after {
    content: "Parcourir";
}

#editor {
    border: 1px solid black;
    height: 150px;
}

input[type="color"] {
    appearance: auto;
    width: 50px;
    height: 27px;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 1px 2px;
}



