/*#assainissement_file .custom-file-control:lang(fr)::after {
     content: "Select file..."; 
}
#assainissement_file .custom-file-control:lang(fr)::before { 
    content: "Click me";
}*/

.custom-file-label::after {
    content: "Parcourir";
}

#editor {
    border: 1px solid black;
    height: 150px;
}



